
<div class="data-container">

  <div class="main-container">

    <div class="dona-container" style="width: 300px; height: 150px;">
      <canvas baseChart
        [data]="doughnutChartData"
        [labels]="doughnutChartLabels"
        [colors]="doughnutChartColors"
        [options]="doughnutChartOptions"
        [plugins]="doughnutChartPlugins"
        [chartType]="doughnutChartType">
      </canvas>
    </div>

    <div class="line-chart">
      <div class="" >
        <canvas baseChart
          id="line-chart"
          [data]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [chartType]="lineChartType"></canvas>
      </div>
    </div>

  </div>

  <div class="label-line">
    <div [ngStyle]="{ color: graphData.doughnutColor.backgroundColor[1] }"> {{ graphData.leftLabel }} </div>
    <div [ngStyle]="{ color: graphData.doughnutColor.backgroundColor[0] }"> {{ graphData.rightLabel }} </div>
  </div>

  <div class="data-line">
    <div>
      <span class="percentage-data"> {{ getPercentage(graphData.leftData) }}% </span>
      <span class="section-data">
        {{ graphData.isRevenue
          ? getCurrency(graphData.leftData)
          : getNumber(graphData.leftData)
        }}
      </span>
    </div>
    <div>
      <span class="percentage-data"> {{ getPercentage(graphData.righData) }}% </span>
      <span class="section-data">
        {{ graphData.isRevenue
          ? getCurrency(graphData.righData)
          : getNumber(graphData.righData)
        }}
      </span>
    </div>
  </div>

</div>

