
<form #formUserName="ngForm" class="form-container" (submit)="onSave()">
  <mat-form-field appearance="outline">
    <mat-label>Nombre de usuario:</mat-label>
    <input matInput
      id="userName"
      name="userName"
      [(ngModel)]="userData.userName"
      (keyup)="$event.keyCode === 13 && onSave()"
      placeholder="Carlos C."
      required
      >
    <!-- <mat-hint>Hint</mat-hint> -->
    <mat-error>Campo requerido</mat-error>
  </mat-form-field>
  <button mat-raised-button
    color="primary"
    class="save-button"
    [disabled]="!formUserName.valid"
    type="submit"
    >
    Guardar
  </button>
</form>
