<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<mat-toolbar color="primary">
  <span [innerHTML]="getRouter().url.includes('graphs')
    ? 'Gráficas' : 'Chat Web'"
  ></span>
  <span class="example-spacer"></span>
  <a mat-button routerLink="/config" >Config</a>
  <a mat-button routerLink="/chat">Chat</a>
  <a mat-button routerLink="/graphs">Gráficas</a>
</mat-toolbar>

<div class="routes-container">
  <router-outlet></router-outlet>
</div>
